#output {
    background-color: #c5edf3;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 40%;
    border: 2px solid #009688;
    font-family: sans-serif;
    line-height: 1.8;
}
#newPublish {
    background-color: #c5edf3;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 40%;
    border: 2px solid #009688;
    font-family: sans-serif;
    line-height: 1.8;
}
.box {
    background-color: #cfefea;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 40px 60px;
}

#details_info {
    background-color: #cfefea;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.8;
    margin-left: 90px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 3px 3px 6px #468a83;
}
.box3 {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: gainsboro;
}
.box11 {
    margin-top: 80px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: gainsboro;
    line-height: 2.5;
}
.web_design_box {
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: #d9edf7;
    box-shadow: 3px 5px 10px #318f86;
}
.hotel_reserve_box {
    margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: #c6badc;
    box-shadow: 3px 5px 10px #7527b0;
}
.online_food_delivery_box {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #d4c0b9;
    box-shadow: 3px 5px 10px #714c4a;
}
.result_box {
    margin-top: 15%;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #d4c0b9;
    box-shadow: 3px 5px 10px #8BC34A;
}
.result_box_text {
    color: #232222;
    font-size: 20px;
    text-align: center;
    padding-top:10px;
}
.result_box_text span {
    color: #614136;
    font-size: 26px;
    text-align: center;
}
.tableBox {
    margin-top: 5%;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 90px;
    padding: 20px 10px 80px 40px;
    background-color: #C5CAE9;
    box-shadow: 3px 5px 15px #3F51B5;
}
.demo_calculator_box {
    margin-top: 5%;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 90px;
    padding: 30px 30px;
    background-color: #9dd2ea;
    border-radius: 5px;
    box-shadow: 0px 4px #48a5d0;
}
.clearButton {
    background-color: #ff9fa8;
    color: #fff;
    font-weight: 600;
    width: 120%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #ea7d88;
    border-color: #ff9fa8;
}
.clearButton:hover {
    background-color: #f58e98;
    color: #fff;
    font-weight: 600;
    width: 120%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #ea7d88;
    border-color: #f58e98;
}
.delButton {
    background-color: #ff9fa8;
    color: #fff;
    font-weight: 600;
    width: 120%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #ea7d88;
    border-color: #ff9fa8;
}
.delButton:hover {
    background-color: #f58e98;
    color: #fff;
    font-weight: 600;
    width: 120%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #ea7d88;
    border-color: #f58e98;
}
.inputField {
    background-color: #7ca8bc;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 92%;
    margin-left: 15px;
    padding-top: 8px;
}
.inputField1 {
    padding-top: 25px;
    padding-right: 15px;
}
.inputButton {
    background-color: #ffffff;
    color: #7ca8bc;
    font-weight: 600;
    width: 130%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #7ca8bc;
}
.inputButton:hover {
    background-color: #9c89f6;
    color: #fff;
    font-weight: 600;
    width: 130%;
    margin-top: -5px;
    padding: 8px 0px;
    border-color:#9c89f6;
    box-shadow: 0px 4px #7b63ec;
}
.equalButton {
    background-color: #f1ff92;
    color: #7ca8bc;
    font-weight: 600;
    width: 130%;
    margin-top: -5px;
    padding: 8px 0px;
    box-shadow: 0px 4px #9da853;
}
.equalButton:hover {
    background-color: #abb850;
    color: #fff;
    font-weight: 600;
    width: 130%;
    margin-top: -5px;
    padding: 8px 0px;
    border-color:#abb850;
    box-shadow: 0px 4px #717a33;
}
.taskAssignBox {
    margin: 20px 170px;
    border-top: 1px solid #e8e2e2;
    padding-top: 50px;
}
.note-editor.note-frame .note-editing-area .note-editable {
    padding: 10px;
    overflow: auto;
    color: #000;
    background-color: #fff;
    height: 200px !important;
}
#taskDetails_info {
    background-color: #d8d8d8;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 50%;
    font-family: sans-serif;
    line-height: 1.8;
    margin-left: 90px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 3px 3px 8px #808282;
    margin-bottom: 60px;
}
.roomBookingBox {
    margin: 30px 170px;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 12px 1px #607D8B;
    background-color: rgba(117, 144, 156, 0.15);
    border-radius: 5px;
}
#roomDetails_info {
    background-color: rgba(117, 144, 156, 0.15);
    box-shadow: 1px 1px 12px 1px #607D8B;
    border-radius: 5px;
    color: #463c39;
    font-size: 17px;
    padding: 30px 30px;
    width: 50%;
    min-height: 550px;
    font-family: sans-serif;
    line-height: 1.8;
    margin-left: 90px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}